@font-face {
    font-family: Poppins-Light;
    src: url('../../public/fonts/poppins/Poppins-ExtraLight.ttf');
}

@font-face {
    font-family: Poppins-Regular;
    src: url('../../public/fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../../public/fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../../public/fonts/poppins/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../../public/fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-Black;
    src: url('../../public/fonts/poppins/Poppins-Black.ttf');
}

@font-face {
    font-family: Poppins-ExtraBold;
    src: url('../../public/fonts/poppins/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: Poppins-ExtraLight;
    src: url('../../public/fonts/poppins/Poppins-ExtraLight.ttf');
}

* {
    font-size: 16px;
    font-weight: initial;
    font-family: Poppins-Regular;
    background-color: transparent;
}

.aside_text {
    color: #111;
    font-family: Poppins-Regular;
    text-decoration: none !important;
}

.aside_button {
    position: relative;
    display: flex;
    padding: 0;
    margin: 5px;
    color: #111;
    background: #fff;
    font-family: Poppins-Regular;
    overflow: hidden !important;
    border: 1px solid #e6e6e6;
    border-radius: 10px !important;
    text-decoration: none !important;
}

.aside_button_text {
    position: relative;
    display: flex;
    padding: 15px;
    margin: 5px;
}
