body {
  margin: 0;
  font-family: Poppins-Light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Poppins-Regular;
}

* {
  transition: cubic-bezier(.17, .88, .8, .05);
}
